<section class="container-fluid p-5">
    <div class="row h-100 justify-content-around">
        <div class="col-5 bg-whitesmoke p-0 border rounded">

            <p class="text-center display-6 bg-whitesmoke-titles">Notebooks</p>
            
            <div class=" mx-auto input-group mb-2 w-75 ">
                <input type="text" class="form-control bg-whitesmoke border">
                <span class="input-group-text bg-whitesmoke"><i class="bi bi-search"></i></span>
            </div>


            <div class="container">
                <div class="row p-2 d-flex justify-content-evenly">
                    <% @laptops.each do |laptop| %>
                        <div class="card p-2 col-3 bg-whitesmoke-titles border-0 mb-2 laptop-card" style="width: 10rem;">
                            <%= image_tag(laptop.model == "A514-54B" ? "black.png" : "silver.png") %>                            
                            <div class="card-body">
                                <h5 class="card-title"><%= laptop.listed_number %></h5>
                                <p class="card-text fs-6">Vinculado à: Ninguem</p>
                            </div>
                        </div>
                    <% end %>
                </div>

            </div>
        </div>


        <div class="col-5 bg-whitesmoke p-0 border rounded">

            <p class="text-center display-6 bg-whitesmoke-titles">Beneficiários</p>
            
            <div class=" mx-auto input-group mb-2 w-75 ">
                <input type="text" class="form-control bg-whitesmoke border">
                <span class="input-group-text bg-whitesmoke"><i class="bi bi-search"></i></span>
            </div>


            <div class="container">
                <div class="row p-2 d-flex justify-content-evenly">
                    <% @beneficiaries.each do |beneficiary| %>
                        <div class="card p-2 col-3 bg-whitesmoke-titles border-0 mb-2" style="width: 10rem;">
                            <%= image_tag "person.png" %>
                            <div class="card-body">
                                <h5 class="card-title"><%= beneficiary.name.split(" ").first %></h5>
                                <p class="card-text fs-6">Vinculado à: 01-00212</p>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
