<section class="container-fluid p-5">
    <div class="row h-100 justify-content-around">

        <div class="col-8 bg-whitesmoke p-0 border rounded">


            <div class="d-flex  bg-whitesmoke-titles">
                <% names = @beneficiary.name.split(" ") %>
                <% first_name = names.first %>
                <% last_name_initial = names.last.slice(0, 1) if names.length > 1 %>
                <h1 class="display-3 mx-auto fw-lighter"><%= "#{first_name} #{last_name_initial}." %> <i class="bi bi-link-45deg"></i> <%= @laptop.listed_number.insert(2, "-") %> </h1>                
            </div>
            <div class="container p-5">
                <div class="row"></div>
            </div>
        </div>
    </div>
</section>